<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import type { Receipt } from '@/types/Receipt'

const receiptStore = useReceiptStore()
const dialog = ref(false)
const form = ref(false)
const refForm = ref<VForm | null>(null)
const receipt = ref<Receipt | null>(null)
  function onSubmit() {}
function formatDate(date: any) {
    return new Date(date).toLocaleDateString('th-TH')
}

function closeDialog() {
    dialog.value = false
}

async function editItem(item: Receipt) {
    if (!item.id) return;
    await receiptStore.getReceipts(item.id); 
    dialog.value = true;
    receipt.value = item;
}

onMounted(() => {
  receiptStore.getReceipt()
})
</script>

<template>
    <v-container>
        <v-toolbar flat>
            <v-toolbar-title>History</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card>
            <v-table fixed-header height="530">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>TotalPrice</th>
                        <th>member</th>
                         <th>Detail</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in receiptStore.receipts" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ formatDate(item.createdDate) }}</td>
                        <td>{{ item.totalPrice }}</td>
                        <td>{{ item.member?.fristName }}</td>
                        <td>
                          <v-icon @click="editItem(item)">mdi-pencil</v-icon>
                        </td> 
                    </tr>
                </tbody>
            </v-table> 
        </v-card>
    </v-container>

    <v-dialog v-model="dialog" persistent width="300">
    <v-card style="background-color: #fff5e8">
       
        <v-card-text>
            <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                <v-container>

                  <v-card-title class="text-h5"> RECEIPT</v-card-title>
      <v-card-text>********************************</v-card-text>
      
      <v-card-text style="text-align: left; padding-top: 0"
        >Date :
        {{ formatDate(receipt?.createdDate) }}</v-card-text
      >
      <v-card-text style="text-align: left; padding-top: 0">Cashier : {{ receipt?.user?.name}}</v-card-text>
      <v-card-text style="text-align: left; padding-top: 0"
    >Branch : {{ receipt?.user?.branch ? receipt.user.branch.name : '-' }}</v-card-text
  >

      <v-card-text style="text-align: left; padding-top: 0"
        >Member : {{ receipt?.member?.fristName }}</v-card-text
      >
      <v-card-text style="border: 2">------------------------------------</v-card-text>
      <v-row style="padding-bottom: 0">
        <v-col> Item </v-col>
        <v-col> price </v-col>
      </v-row>
      <v-row
  style="padding-bottom: 0"
  v-for="(item, index) in receiptStore.receipt?.receiptDetails"
  :key="index"
>
        <v-col>{{ item.name }}</v-col>
        <v-col>{{ item.price }}</v-col>
        
      </v-row>
      
      <v-card-text style="border: 2">------------------------------------</v-card-text>
      <v-card-text style="text-align: left; padding-top: 0"
        >TOTAL : {{ receipt?.totalPrice }} บาท</v-card-text
      >
      
      <v-card-text style="text-align: left; padding-top: 0"
        >PAYMENT TYPE : {{ receiptStore.selectPaymentOption }}</v-card-text
      > 
                    
                </v-container>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn variant="text" @click="closeDialog()"> Close </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>


</template>

<style scoped>
.v-sheet {
    background-color: #fff5e8;
}

.v-toolbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: none;
    background-color: #ab9283;
}

.v-toolbar-title {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.v-table {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
    background-color: #fff5e8;
}

.v-btn {
    background-color: #ffcb5e;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.custom-header {
    background-color: #ffcb5e;
}
</style>