<script setup lang="ts">
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptStore } from '@/stores/receipt'
import { type Promotion } from '@/types/Promotion'
import { onMounted, ref, watch, computed } from 'vue'
import MemberCard from '@/views/POS/MemberCard.vue'
import ReceiptDialog from '@/views/POS/ReceiptDialog.vue'
import PaymentType from '@/views/POS/PaymentType.vue'
import QRpayment from '@/views/POS/QRpayment.vue'
import { useRouter } from 'vue-router'
import { useMemberStore } from '@/stores/member'

onMounted(() => {
  PromotionStore.getPromotions()
})
const memberStore = useMemberStore()
const currentMember = memberStore.getCurrentMember()
const router = useRouter()
const promotions = computed(() => PromotionStore.promotions.value)
const PromotionStore = usePromotionStore()
const navigateToPOSView = () => {
  selectedPromotions.value = []
  router.push('/pos')
}
const dialogReceipt = ref(false)
const receiptStore = useReceiptStore()

const selectedPromotions = ref<string[]>([])
const productName = ref<String[]>([])
const discount = ref(0)

function clear() {
  selectedPromotions.value = []
  discount.value = 0
}

//when click and check member
const handleSelectClick = () => {
  const activePromotions = computed(() =>
    promotions.value.filter((promotion) => promotion.status === 'Active')
  )
  const currentMember = memberStore.getCurrentMember()
  if (currentMember) {
    productName.value = activePromotions.value.map((promotion) => promotion.name)
  } else {
    const memberPromotions = computed(() =>
      activePromotions.value.filter((promotion) => promotion.details === 'Guest')
    )
    productName.value = memberPromotions.value.map((promotion) => promotion.name)
  }
}

function getProdiscount(selectedPromotions: string[]): number {
  let discountAmount = 0
  for (const promotionName of selectedPromotions) {
    const promotion = promotions.value.find((promotion) => promotion.name === promotionName)
    if (promotion) {
      discountAmount += promotion.discount
    }
  }

  return discountAmount
}
// // ลด totalBefore ตามค่า discount
//receiptStore.receipt.total = receiptStore.receipt.totalBefore -  discount;

watch(selectedPromotions, (newSelectedPromotions) => {
  const discountValue = getProdiscount(newSelectedPromotions)

  receiptStore.updateDiscount(discountValue)
  // receiptStore.calPro(receiptStore.receipt?.totalBefore || 0, discountValue)
})
function backPromotions() {
  selectedPromotions.value = []
}
function resetPromotions() {
  selectedPromotions.value = []
  receiptStore.clear()
  memberStore.clearFrom()  
}// Reset selected promotions to an empty array
</script>

<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="6">สมาชิก</v-col>
      <v-col cols="10">
        <MemberCard></MemberCard>
      </v-col>
      <v-col cols="6">โปรโมชั่น</v-col>
      <v-col cols="10">
        <v-select chips multiple label="Select promotion" v-model="selectedPromotions" :items="productName"
          variant="underlined" @click="handleSelectClick"></v-select>
      </v-col>
      <br />
      <br />
      <v-col cols="6">ส่วนลดสมาชิก</v-col><v-col>{{ receiptStore.receipt?.discount }}</v-col>
      <v-col cols="6">ส่วนลดโปรโมชั่น</v-col><v-col>{{ getProdiscount(selectedPromotions) }}</v-col> <v-col
        cols="6">ยอดรวม</v-col><v-col>{{ receiptStore.receipt!.totalPrice - receiptStore.receipt!.promotionDiscount
        }}</v-col>
    </v-row>

    <v-row>
      <v-col cols="12">วิธีการชำระเงิน</v-col>
      <v-col cols="6">
        <PaymentType></PaymentType>
      </v-col>
      <v-col cols="6">
        <QRpayment></QRpayment>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="6">
        <v-btn class="align-right" variant="plain" elevation="4" size="large" prepend-icon="mdi-arrow-left" block
          rounded="xl" @click="navigateToPOSView">
          กลับ
        </v-btn>
      </v-col>
      <v-col cols="6">
        <v-btn class="align-right" variant="plain" elevation="4" size="large" prepend-icon="mdi-close-thick" block
          rounded="xl" @click="resetPromotions()">ยกเลิก</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-card {
  text-align: center;
  border: 2px solid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: #412f26;
}

.v-sheet,
.v-card {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
</style>
