<script setup lang="ts"></script>

<template>
  <div class="center-container">
    <v-img src="./img/logo/logo_name.png" class="centered-image"></v-img>
  </div>
</template>

<style scoped>
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-image {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}
</style>
