<script setup lang="ts">
import router from '@/router';
import { useMemberStore } from '@/stores/member';
import { ref, onMounted } from 'vue';
import type { VForm } from 'vuetify/components'


const visible = ref(false)
const email = ref('bob.johnson@gmail.com')
const password = ref('pass1')
const memberStore = useMemberStore()
const refForm = ref<VForm | null>(null)
const form = ref(false)
 

const required = (v: string) => {
  return !!v || 'Field is required'
}

const onSubmit = async () => {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  memberStore.loginMember(email.value, password.value)
}

async function onClick() {
  router.push('/promember')
  await memberStore.loginMember(email.value,password.value)
  const currentMember = memberStore.getCurrentMember() // เปลี่ยนเป็น getCurrentMember()
  if (!currentMember) {
    window.alert('Member not found!')
    email.value = ''
    password.value=''
  } 
  console.log(currentMember);
  
}

onMounted(() => {})
</script>

<template>
  <div>
    <v-sheet>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12">
            <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="450">
              <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                <v-img style="display: block; margin: auto" alt="Logo" width="250px"
                  src="./img/logo/logo_brown_text.png"></v-img>
                <div class="text-subtitle-1 text-medium-emphasis">Account</div>

                <v-text-field v-model="email" :rules="[required]" clearable density="compact"
                  placeholder="Email address" prepend-inner-icon="mdi-email-outline" variant="outlined"></v-text-field>

                <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
                  Password
                </div>

                <v-text-field v-model="password" :rules="[required]" clearable
                  :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'" :type="visible ? 'text' : 'password'"
                  density="compact" placeholder="Enter your password" prepend-inner-icon="mdi-lock-outline"
                  variant="outlined" @click:append-inner="visible = !visible"></v-text-field>

                <br/>

                <v-btn :disabled="!form" block class="mb-8" size="large" type="submit" variant="elevated"  @click="onClick()">
                  Log In
                </v-btn>
              </v-form>
              
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </div>
</template>

<style scoped>
.v-sheet {
  background-image: url('./img/logo/BG1.png');
  /* กำหนดรูปภาพเป็นพื้นหลัง */
  background-size: cover;
  /* ปรับขนาดรูปภาพให้เต็มพื้นที่ */
  background-position: center;
  /* กำหนดตำแหน่งรูปภาพ */
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 30px;
  padding: 8px 16px;
}

.v-card {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}
</style>