<script setup lang="ts">
import member from '@/services/member';
import { useMemberStore } from '@/stores/member';
import { inject, type Ref } from 'vue'
const memberStore = useMemberStore
const rail = inject<Ref<boolean>>('rail')
const drawer = inject<Ref<boolean>>('drawer')

 

</script>

<template>
  <v-card class="navigation-drawer">
    <v-navigation-drawer v-model="drawer"  color="#FFF5E8" width="300">
      <template v-slot:prepend>
        <div v-if="!rail" class="text-center mt-3 mb-3">
          <v-img src="./img/logo/logo_brown.png"></v-img>
          
          <!-- <v-avatar class="mt-5" rounded="100" size="80" @click.stop="rail = !rail">
            <v-img src="./img/logo/logo_brown.png"></v-img>
          </v-avatar> -->
        </div>
      </template>

      <v-divider></v-divider>

      <v-list width="310" density="compact" nav>
        <v-list-item prepend-icon="mdi-home" title="Main Menu" value="home" :to="{ name: 'home' }" active-class="border"
          class="ml-0 my-3" :ripple="false"></v-list-item>
        <v-list-item prepend-icon="mdi-store" title="Point of Sell" value="pos" :to="{ name: 'pos' }"
          active-class="border" class="ml-0 my-3" :ripple="false"></v-list-item>
        <v-list-item prepend-icon="mdi-home" title="ข้อมูลส่วนตัว" value="infomember" :to="{ name: 'infomember' }" active-class="border"
          class="ml-0 my-3" :ripple="false"></v-list-item>
          <v-list-item prepend-icon="mdi-home" title="โปรโมชั่น" value="promember" :to="{ name: 'promember' }" active-class="border"
          class="ml-0 my-3" :ripple="false"></v-list-item>
      </v-list>
      

      <v-divider></v-divider>

      <template v-slot:append>
        <div v-if="rail" class="pa-2 mt-2 mb-2">
          
        </div>
      </template>
    </v-navigation-drawer>
  </v-card>
</template>

<style scoped>
.navigation-drawer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.border {
  background: #ffcb5e;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
}

.border b:nth-child(1),
.border b:nth-child(2) {
  display: block;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 30px;
}
</style>
