<script setup lang="ts">

import { computed, inject, onMounted, ref, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
const order = ref(0)




</script>

<template>
  <v-app-bar :order="order" color="#412F26" title="Aqueous Coffee" density="compact" height="70" flat>
    <template v-slot:prepend>
      <v-avatar size="47" @click.stop="rail = !rail">
        <v-img src="./img/logo/logo_white_bold.png"></v-img>
      </v-avatar>

      <!-- <div v-if="rail" class="text-center mt-5 mb-5">
        <v-avatar size="47" @click.stop="rail = !rail">
          <v-img src="./img/logo/logo_white_bold.png"></v-img>
        </v-avatar>
      </div> -->
    </template>
    <template v-slot:append>
      

      <v-switch v-model="order" false-value="0" true-value="-1" hide-details inset></v-switch>
    </template>
  </v-app-bar>
</template>
