<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { type Product, getImageUrl } from '@/types/Product'
import { computed, ref } from 'vue'
const receiptStore = useReceiptStore()
const popupVisible = ref(false)
const dialog = ref(false)
const showPopup = function () {
  popupVisible.value = true
}
const hidePopup = function () {
  popupVisible.value = false
}

const props = defineProps<{
  product: Product
}>()
const emit = defineEmits<{
  selectedProduct: [Product]
}>()

const clearSelection = () => {
  receiptStore.type = ''
  receiptStore.sweet = ''
  receiptStore.size = ''
}

const selected = function () {
  dialog.value = false
  console.log(receiptStore.sweet)
  console.log('ProductCard ' + props.product)
  console.log(props.product)
  console.log(receiptStore.receiptItems)
  emit('selectedProduct', props.product)
  clearSelection()
}

const openDialog = function () {
  if (props.product.category.id === 1) {
    dialog.value = true
  } else {
    emit('selectedProduct', props.product)
  }
}
</script>

<template>
  <v-sheet
    width="170"
    height="170"
    elevation="2"
    rounded
    @mouseenter="showPopup"
    @mouseleave="hidePopup"
    @click="openDialog"
  >
    <v-img :src="getImageUrl(product)" height="170" cover></v-img>
    <div class="product-info">{{ product.name }} {{ product.price }} บาท</div>
  </v-sheet>

  <v-dialog v-model="dialog" persistent width="400" v-if="product.category.id === 1">
    <v-card>
      <v-card-title>{{ product.name }}</v-card-title>
      <v-card-subtitle>฿ {{ product.price }}</v-card-subtitle>
      <v-card-text>
        <v-combobox
          label="Size"
          :items="product.sizes ? product.sizes.map((size) => size.name) : []"
          v-model="receiptStore.size"
        ></v-combobox>

        <v-combobox
          label="Type"
          :items="
            product.subCategorys ? product.subCategorys.map((subCategory) => subCategory.name) : []
          "
          item-title="name"
          item-value="id"
          :return-object="true"
          v-model="receiptStore.type"
        ></v-combobox>

        <v-combobox
          label="Sweet"
          :items="['100%', '75%', '50%', '25%', '0%']"
          item-title="name"
          item-value="id"
          :return-object="true"
          v-model="receiptStore.sweet"
        ></v-combobox>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" variant="text" @click="selected"> OK </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
/* เพิ่ม border ใน v-sheet */
.v-img,
.v-sheet {
  border-radius: 15%;
}

.product-info {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 6px;
  color: #412f26;
}
</style>
