<script setup lang="ts">
import { ref, provide, onBeforeUnmount } from 'vue'
import { RouterLink, RouterView, useRoute } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenu from './components/MainMenu.vue'
import LoadingDialog from './components/LoadingDialog.vue'
import MainLayout from './layouts/MainLayout.vue'
import FullLayout from './layouts/FullLayout.vue'
import MessageBox from './components/MessageBox.vue'
const route = useRoute()
</script>

<template>
  <component :is="route.meta.layout === 'MainLayout' ? MainLayout : FullLayout">
    <MainMenu />
  </component>
  <LoadingDialog></LoadingDialog>
  <MessageBox></MessageBox>
</template>

<style scoped>
/* สีพื้นหลังของทุกหน้า */
.v-layout {
  background-color: #fff5e8;
  min-height: 100vh;
}
</style>
