<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { usePromotionStore } from '@/stores/promotion';
import { format } from 'date-fns';
import { computed, onMounted } from 'vue';


const memberStore = useMemberStore()
const promotionStore = usePromotionStore()
const promotions = computed(() => promotionStore.promotions.value)
function formatDate(date: Date): string {
  return format(date, 'dd-MM-yyyy')
}

onMounted(() => {
  promotionStore.getPromotions()
})

function log() {
  console.log(memberStore.currentMember)
}

</script>

<template>
  
  <v-form v-model="promotionStore.from.value" @submit.prevent="promotionStore.onSubmit">
    <v-container>
      <v-row align="center" justify="center">
      <v-col>
        <v-card width="800">
  <v-card-title>ข้อมูลส่วนตัว</v-card-title>
  <v-card-text style="white-space: pre-wrap;">
    ชื่อ: {{ memberStore.currentMember?.fristName }}
    แต้ม: {{ memberStore.currentMember?.point }}
    วันเกิด: {{ memberStore.currentMember?.birth }}
  </v-card-text>
</v-card>



        
      </v-col>
    </v-row>
    
   
  </v-container>
</v-form>

</template>
<style scoped>
.v-sheet {
  background-color: #fff5e8;
}

.v-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
  background-color: #ab9283;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.v-table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}

/* .v-btn {
  background-color: #ffcb5e;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
} */

.custom-header {
  background-color: #ffcb5e;
}
</style>