<script setup lang="ts">
import router from '@/router';
import { useMemberStore } from '@/stores/member';
import { usePromotionStore } from '@/stores/promotion';
import { format } from 'date-fns';
import { computed, onMounted } from 'vue';


const memberStore = useMemberStore()
const promotionStore = usePromotionStore()
const promotions = computed(() => promotionStore.promotions.value)
function formatDate(date: Date): string {
  return format(date, 'dd-MM-yyyy')
}

onMounted(() => {
  promotionStore.getPromotions()
})

function log() {
  router.push('/infoMember')
  navigateToInfoMember()
 console.log(memberStore.currentMember)
}
const navigateToInfoMember = () => {
  router.push('/infoMember')
 }
</script>

<template>
  
  <v-form v-model="promotionStore.from.value" @submit.prevent="promotionStore.onSubmit">
    <v-container>
     
    <v-row align="center" justify="center">
      <v-col
      v-for="item in promotions" :key="item?.id"
        cols="auto"
      >
        <v-card
        class="rounded"
          width="800"

        >
          <v-card-item class="rounded">
            <div>
              <div class="text-overline mb-1">
              </div>
              <div class="text-h6 mb-1">
                {{ item.name }}
              </div>
              <div class="text-caption">{{ item.details }}</div>
              <div  class="text-caption">
                
              </div>
            </div>
          </v-card-item>

          <v-card-actions>
    
          </v-card-actions> 
        </v-card>
      </v-col>
    </v-row>
   <v-row>
    <v-col>
    </v-col>
   </v-row>
  </v-container>
</v-form>

</template>
<style scoped>
.v-sheet {
  background-color: #fff5e8;
}

.v-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
  background-color: #ab9283;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.v-table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}

/* .v-btn {
  background-color: #ffcb5e;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
} */

.custom-header {
  background-color: #ffcb5e;
}
</style>